body {
  margin: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  background-color: royalblue;
  padding: 10px;
  color: white;
  padding-top: 5px;
}

.shop {
  background-color: #f0f0f0;
  padding: 10px;
}

.board {
  display: flex;
  width: 164px;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.cell {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  line-height: 48px;
  font-size: 28px;
}


 img{
    border-radius: 4px;
    height: 150px;
    max-height: 168px;
    width: auto;
	max-width: 200px;
    margin: auto;
}

.products{
display: flex;
	flex-direction: row;
	height: 350px;
  width: 250px;
	flex-wrap: wrap;
	gap: 10px;
}

.product{
  display: flex;
	flex-direction: column;
	margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: top;
    display: flex;
    align-items: stretch;
	align-items: center;
	width: 200px;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_content{
  padding: 10px;
  display: flex;
  flex-direction: column;
  
  max-width: 330px;
  gap: 20px;
  background-color: #fff;
  
    box-shadow: 4px 5px 20px 1px #838383;
  align-items: center;
  align-self: center;
}

.modal_title {
  margin: 0;
}

.modal_body{
  padding: 10px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #eee;
}

.price{
  font-size: 44px;
  font-weight: 500;
  color:coral
}